@import "fonts";
@import "libs";
@import "vars";

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:before, &:after{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

*::-webkit-input-placeholder{
	color: #666;
	opacity: 1;
}

*:-moz-placeholder{
	color: #666;
	opacity: 1;
}
*::-moz-placeholder{
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder{
	color: #666;
	opacity: 1;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid{
	color: $dark;
}
body input:required:valid,
body textarea:required:valid{
	color: #666;
}
html, body{
	height: 100%;
	font-size: 10px;
	-webkit-overflow-scrolling-y: touch!important;
}
body{
	@extend %text-default;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	-webkit-overflow-scrolling-y: touch!important;
	z-index: 1;
	overflow-y: auto;
}
.popup-wrapper{
	position: relative;
	padding: 2rem 0;
	bottom: -.2rem;
	@media screen and (max-width: 578px){
		display: none!important;
	}
}
.popup-wrapper .popup{
	font-weight: lighter;
	display: none!important;
	position: absolute;
	top: 45px;
	left: 35%;
	transform: translate(-50%, 0%);
	background: #F8FAFF;
	border: 1px solid #d6d8e4;
	box-sizing: border-box;
	box-shadow: 0px 4px 10px #EBF0FB;
	border-radius: 2px;
	padding: .8rem;
	width: 16.9rem;
	font-size: 1.1rem;
	z-index: 70;
	color: $dark;
	&:before, {
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
		left: 56%;
		top: -16px;
		border: 8px solid;
		border-color: #000 transparent transparent transparent;
		transform: rotate(180deg) translateX(100%);
	}
	&:after {
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
		left: 56%;
		top: -16px;
		border: 8px solid;
		border-color: #f8faff transparent #f8faff;
		transform: rotate(180deg) translateX(100%);
	}
}
.popup-wrapper:hover{
	.popup{
		display: block!important;
	}
}
// charts
	.chart-btn{
		padding: 1em 1.2em;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		font-size: 1.4rem;
		text-align: center;
		font-family: 'Raleway';
		font-weight: bold;
		border-radius: .4rem;
		box-shadow: 0px .2em .5em rgba(0, 0, 0, 0.1);
		border: 1px solid;
		transition: .15s ease;
		vertical-align: center;
		&:hover{
			box-shadow: 0px 0px 0px 2px lightblue;
			background: transparent;
			border-color: transparent;
			color: $dark-accent-lighten;
		}
		@media screen and (max-width: 768px){
			font-size: 1.2rem;
		}
		@media screen and (max-width: 576px){
			font-size: 1.1rem;
		}
		@media screen and (max-width: 375px){
			font-size: 1rem;
		}
	}
	.chart-btn--filled{
		border-color: $light-accent!important;
		background-color: $light-accent!important;
		color: $white!important;
	}
	.chart-btn--empty{
		border-color: $light-accent;
		background: transparent;
		color: $light-accent;
	}
	.chart-btn--pale{
		color: $semi-dark;
		border-color: $semi-dark;
		background: transparent;
	}
	.chart-controls{
		margin: 2.5rem 1rem 2rem 1rem;
		width: 80%;
		@media screen and (max-width: 992px){
			width: 100%;
		}
		@media screen and (max-width: 768px){
			width: 80%;
		}
		@media screen and (max-width: 576px){
			margin: 0;
			padding: 2.5rem 1rem;
			width: 100%;
		}
		@media screen and (max-width: 576px){
			margin: 0;
			padding: 2.5rem 1rem;
			width: 100%;
		}
		@media screen and (max-width: 374px){
			margin: 0;
			padding: 2.5rem 0;
		}
	}
	.chart-info{
		width: 33%;
	}
	.entity-chart{
		display: none!important;
	}
	.entity-chart--current{
		display: block!important;
	}
	.chart-current-info{
		line-height: 145%;
		padding-top: .9em;
		@extend %adaptive-text-16;
		color: $semi-dark;
		.value{
			font-size: 1.4rem;
			color: $dark;
			font-weight: bold;
			letter-spacing: .02em;
			@media screen and (min-width: 567px){
				font-size: 2rem;
			}
		}
	}
	.chart-difference{
		line-height: 145%;
		font-size: 1.2rem;
		padding-top: .3rem;
		letter-spacing: .03em;
	}
	.fns-info{
		width: 80%;
		@media screen and (max-width: 992px){
			width: 100%;
		}
		@media screen and (max-width: 768px){
			width: 80%;
		}
		@media screen and (max-width: 576px){
			width: 100%;
		}
		@media screen and (max-width: 576px){
			width: 100%;
		}
		@media screen and (max-width: 374px){
			margin: 0;
		}
	}
	.fns-info__title{
		@extend %adaptive-text-16;
		line-height: 145%;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: $dark;
	}
	.fns-info__boxes{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	.fns-info__box{
		width: 33%;
		margin-bottom: 1.5rem;
	}
	.fns-box__title{
		color: $dark;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 145%;
	}
	.fns-info__title{
		color: $dark;
		letter-spacing: 0.04em;
		line-height: 145%;
		text-transform: none;
		font-weight: 600;
		padding: 1.5rem 0;
	}
	.fns-box__value{
		@extend %adaptive-text-16;
		color: $semi-dark;
		line-height: 145%;
		padding-top: .5rem;
		letter-spacing: .02em;
		.value{
			font-size: 1.4rem;
			font-weight: bold;
			@media screen and (min-width: 567px){
				font-size: 2rem;
			}
		}
	}
// /charts
.overlay{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: black;
	z-index: -100;
	opacity: .5;
	transition: .2s ease;
	display: none;
}
.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}

.text-center{
	text-align: center;
}
select{
	cursor: pointer;
}
::selection{
	background-color: $rare-accent;
	color: #fff;
}
// your styles
.p-10{
    padding: 1rem!important;
}
.m-10{
	margin: 1rem!important;
}
.btn-std{
	background: #FFFFFF;
	border: 1px solid #D3D3D3;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	font-size: 1.2rem;
	align-items: center;
	flex-direction: row!important;
	justify-content: center;

	img{
		margin-right: 1rem;
	}
}
.header{
	position: relative;
	z-index: 12;
	padding: .9rem 0;
	.search-input{
		padding: 0!important;
		flex-grow: 1;
		width: auto;
		margin: 0 4rem;
		border-radius: .5rem;
		input{
			padding: 0;
			padding-left: 2rem;
		}
		input[type="text"]{
			font-size: 1.2rem;
			@media screen and (min-width: 576px){
				font-size: 1.4rem;
			}
			@media screen and (min-width: 768px){
				font-size: 1.6rem;
			}
			@media screen and (min-width: 1200px){
				font-size: 1.8rem;
			}
		}
		.search-input__btn{
			margin-right: 0;
		}
	}
}
.logo{
	.logo__text{
		margin-left: 2px;
		white-space: nowrap;
		margin-top: 3px;
		font-size: 2.8rem;
	}
	.logo__subtitle{
		display: none;
		margin-top: 1.4rem;
		a{
			font-size: 1.2rem;
		}
	}
	.icon-logotype{
		font-size: 3.4rem;
	}
}
.search-btn-container{
	position: relative;
}
.call-search-btn{
	position: absolute;
	left: -4rem;
	transform: translateY(70%);
    padding: .5rem;
    top: -50%;
}
// sign-in button
.sign-in-btn{
	padding: .7rem 1.2rem;
	cursor: pointer;
	transition: all cubic-bezier(0.23, 1, 0.320, 1);
	position: relative;
	display: inline-block;
}


.greenline{
	width: calc(4.9rem + 2vw);
	height: 0px;
	border: 2px solid #86BE16;
}
.feedback-btn{
	padding: 1.8rem 2.4rem;
	span{
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}
}
.scrolltop-btn{
	padding: 1.7rem 2.2rem;
	box-shadow: 0rem .6rem .8rem rgba(116, 167, 16, 0.3);
	display: none;
}
.scrolltop-btn{
	position: absolute;
	right: 3rem;
	top: -90%;
	transform: translateY(180%);
}
.footer{
	margin-top: auto;
	position: relative;
	.row-upper{
		.footer__feedback-btn{
			width: 100%;
		}
	}
	.row-lower{
		margin-top: 2.5rem;
		margin-bottom: 3.3rem;
	}
	&__feedback-btn, &__logo{
		margin-top: 3rem;
	}
	&__link-list{
		margin-bottom: 2rem;
	}
	.footer__translate-row{
		display: none;
	}
	.btn__text{
		font-size: 1.4rem;
	}
}
.link-list{
	&__item{
		margin-bottom: .6rem;
		&:last-child{
			margin-bottom: 0;
		}
		& a:hover{
			color: $rare-accent!important;
		}
	}
	&__wrapper{
		ul:last-child{
			margin-top: .6rem;
		}
	}
}

.main{
	padding-top: 1rem;
}
.promo-main-header{
	padding-top: 3rem!important;
	&__greenline{
		margin-bottom: 2.1rem;
	}
	&__img{
		margin: 0 auto;
		max-width: 176px;
		min-width: 175px;
	}
	.text{
		margin-top: 1.5rem;
		padding-bottom: 3rem;
	}
	.promo-main-header__text-content{
		@media screen and (min-width: 900px){
			margin-top: auto;
    		margin-bottom: 7rem;
		}
	}
}
.divider{
	background: $lighten;
	width: 100%;
	height: 1px;
	margin-top: .5rem;
	margin-bottom: .5rem;
	z-index: 10;
}
.mobile-search{
	transform: translateY(-100%);
	z-index: 3;
	position: absolute;
	transition: .2s ease;
	.search-input__btn{
		padding: .8rem .9rem!important;
	}
	input{
		margin-left: 1rem;
		line-height: 145%;
		@media screen and (min-width: 768px){
		}

		@media screen and (max-width: 576px){
			box-sizing: content-box;
			padding: 7px;
		}
	}
	input[type="text"]{
		font-size: 1.2rem;
		line-height: 145%;
		@media screen and (min-width: 480px){
			font-size: 1.4rem;
		}
		@media screen and (min-width: 768px){
			font-size: 1.6rem;
		}
		@media screen and (min-width: 1200px){
			font-size: 1.8rem;
		}
	}
}
.mobile-search--active{
	transform: translateY(0%);
}
.search-input{
	width: calc(100% - 30px);
	z-index: 10;
	position: relative;
	padding: .7rem .7rem .7rem 1rem!important;
	input[type="text"]{
		font-size: 1.2rem;
		@media screen and (min-width: 576px){
			font-size: 1.4rem;
		}
		@media screen and (min-width: 768px){
			font-size: 1.6rem;
		}
		@media screen and (min-width: 1200px){
			font-size: 1.8rem;
		}
	}
	.row{
		padding: 0;
	}
	&--cross-section{
			position: absolute;
			transform: translate(-50%, -50%);
			margin-left: 50%!important;
			box-shadow: 0px 4.00655px 15.0245px rgba(42, 51, 141, 0.3);
			border-radius: 5.00818px;
			font-size: 14px;
			z-index: 10;


	}
	input{
		width: 100%;
		font-size: 1.4rem;
		z-index: 10;
		@media screen and (min-width: 992px){
			font-size: 1.6rem!important;
		}
	}
	.search-input__btn{
		height: 100%;
		padding: 1rem 1.25rem;
	}
	.search-icon{
		width: 1.6rem;
		@media screen and (min-width: 480px){
			width: unset;
		}
	}
	.search-text{
		display: none;
	}
	.search-input__related-contend{
		width: 98%;
		margin: 0 auto;
		z-index: 10;
	}
	.search-list{
		position: absolute;
		background: $white;
		left: 0;
		right: 0;
		padding: 1px 15px 0px 15px;
		display: none;
		box-shadow: 0px 10.00655px 15.0245px rgba(42, 51, 141, 0.3);
		overflow: hidden;
		.search-list__metasearch{
			padding-bottom: 2rem;
			@media screen and (min-width: 992px) {
				padding-top: .5rem;
			}
			a{
				margin-right: calc(1.6em + 0.5vw);
			}
		}
		.search-input__divider{
			background: $lighten;
			width: 120%;
			height: 1px;
			margin-top: .3rem;
			margin-bottom: .5rem;
			z-index: 10;
			padding-left: 15px;
			margin-left: -15px;
		}
		.search-input__results{
			z-index: 10;
			margin-bottom: 1rem;
			margin-top: 1rem;
			color: #999999!important;
			span{
				@extend %adaptive-text-14;
			}
		}
		.search-list__item, .search-item{
			padding-top: 1rem;
			padding-bottom: 1.5rem;
			margin-left: -1.5rem;
			margin-right: -1.5rem;
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			margin-top: 0;
			padding: 6px 15px 6px 15px;
			cursor: pointer;
			&:hover{
				background-color: $light;
			}
		}
		.search-item__row{
			flex-wrap: wrap;
			align-items: center;
		}
		.search-item__heading{
			margin-bottom: 0rem;
			color: $dark-accent;
			font-size: 1.6rem;
			line-height: 125%;
			@media screen and (min-width: 1200px){
				font-size: 1.8rem;
			}
		}
		.search-item__status{
			margin-bottom: 0rem;
			line-height: 150%;
			// margin-top: .5rem;
			font-size: 1.2rem;
			display: block;
			@media screen and (min-width: 1200px){
				font-size: 1.4rem;
				margin-top: .1rem;
			}
		}
		.bad-status{
			color: #D31A1A;
		}
		.search-item__city{
			color: $dark;
		}
		.search-item__identification-number,
		.identification-number, .search-item__city, .search-item__chief,
		.search-item__share{
			margin-right: 2rem;
			font-size: 1.4rem;
			margin-bottom: .5rem;
			@media screen and (min-width: 1200px){
				font-size: 1.6rem;
			}
		}
		.identification-number__type, .search-item__key{
			color: $semi-dark;
			text-transform: uppercase;
			font-size: 1.4rem;
			line-height: 145%;
			@media screen and (min-width: 1200px){
				font-size: 1.6rem;
			}
		}
		.identification-number__number, .search-item__value{
			color: $dark;
			font-size: 1.4rem;
			line-height: 145%;
			@media screen and (min-width: 1200px){
				font-size: 1.6rem;
			}
		}
	}

	.search-input__search-list{
		display: none;
	}
	.show-results{
		display: block;
	}
	.search-input__delete-close-btn{
		position: absolute;
		top: 50%;
		z-index: 100;
		transform: translateY(-50%);
		right: 2rem;
		display: none;
	}
}
.promo-main-header__main-container{
	padding: 0!important;
}

//items from search without searchbar scope
.search-list__item, .search-item{
	padding: 5px 0;
	margin-top: .8em;
	cursor: pointer;
	&:hover{
		background-color: $light;
	}
}
.search-item__filter{
	color: $dark;
	background: #F5F5F5;
	border-radius: 4px;
	font-size: 1.2rem;
	padding: .2rem .6rem;
	line-height: 190%;
	margin: .3rem 0;
}
.search-item__row{
	flex-wrap: wrap;
	align-items: center;
}
.search-item__heading{
	margin-bottom: .5rem;
	color: $dark-accent;
	font-size: 1.6rem;
	line-height: 125%;
	@media screen and (min-width: 1200px){
		font-size: 1.8rem;
	}
}
.search-item__status{
	font-size: 1.2rem;
	margin-bottom: .3rem;
	margin-top: 0rem;
// 	margin-top: 0rem;
// margin-bottom: -.6rem;
}
.search-item__status--extra-margin{
	font-size: 1.2rem;
	margin-bottom: .8rem;
	margin-top: 0.5rem;
}
@media screen and (min-width: 1200px){
	.search-item__status,.search-item__status--extra-margin{
		font-size: 1.4rem;
	}
}
.bad-status{
	color: $low;
}
.negative-status{
	color: $negative;
}
.middle-status{
	color: $medium;
}
.good-status{
	color: $high;
}
.search-item__city{

}
.search-item__identification-number,
.identification-number, .search-item__city{
	margin-right: 2rem;
	font-size: 1.4rem;
	margin-bottom: 0;
	line-height: 190%;
	padding: 0!important;
	@media screen and (min-width: 1200px){
		font-size: 1.6rem;
	}
}
.identification-number__type, .search-item__key{
	color: $semi-dark;
	font-size: 1.4rem;
	line-height: 190%;
	margin-right: 1rem;
	@media screen and (min-width: 1200px){
		font-size: 1.6rem;
	}
}
.identification-number__number, .search-item__value{
	color: $dark;
	font-size: 1.4rem;
	line-height: 190%;
	@media screen and (min-width: 1200px){
		font-size: 1.6rem;
	}
}
.search-item__row{
	// padding: 0.3em 0;
}
// =============================

// modals
.arcticmodal-container_i2{
	padding: 0;
}
.modal__content{
	position: relative;
	display: flex;
	padding: 4rem 1.5rem;
	flex-direction: column;
	min-width: 19rem;
	border-radius: .5rem;
	width: 100%;
	max-width: 520px;
	.modal__form{
		display: flex;
		flex-direction: column;
		margin-top: 3rem;
		.modal__label-row{
			margin-bottom: .3rem;
		}
		& > .row{
			margin-bottom: 1.5rem;
		}
	}
	.input-wrapper{
		background: #FFFFFF;
		border: 1px solid #E0E0E0;
		box-sizing: border-box;
		border-radius: 4px;
		width: 100%;

		input{
			padding: 1.3rem 2rem;
			width: 100%;
			font-size: 1.4rem;
		}
	}
	.btn{
		padding: 1.4rem 5.5rem;
		margin: 0.2rem auto 3rem auto;
		letter-spacing: 0.1em;
	}
}
.modal__close__btn{
	display: flex;
	justify-content: flex-end;
}
.modal__navigation{
	display: flex;
	justify-content: center;

	.modal__button{
		padding: 0 2rem .7rem 2rem;
		border-bottom: 1px solid $lighten;

		&--active{
			border-bottom: 3px solid $light-accent;
			color: $light-accent!important;
		}
	}
}
.modal__close__btn{
	position: absolute;
	padding: .5rem;
	top: 1.3rem;
	right: 1.3rem;
}
.modal__social-icons{
	display: flex;
	margin-top: .9rem;
	span{
		font-size: 3rem;
		margin-right: .9rem;
		&:last-child{
			margin-right: 0rem;
		}
	}
}
.call-signin-btn{
	cursor: pointer;
}
.modal__custom-checkbox{
}
.custom-checkbox-wrapper{
	flex-shrink: 0;
}
.custom-checkbox{
	display: none;
}
.custom-checkbox:checked + .custom-checkbox__fake:before{
	opacity: 1;
	background-color: $light-accent;
	background-image: url(../img/checked.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}
.custom-checkbox__fake{
	display: flex;
    flex-shrink: 0;
	width: 20px;
	height: 20px;
	border: 1px solid $light-accent;
	border-radius: 2px;
	margin-right: 1rem;
	position: relative;

	&:before{
		content: "";
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: background-color .2s ease;
	}
}

.adc-cards{
	.card, .card:hover{
		box-shadow: none!important;
	}
}
.main-info__cards, .main-sources__cards-equal{
	margin-top: 2rem!important;
	margin-bottom: 3rem!important;
	.card{
		flex-grow: 1;
		align-items: center;
		justify-content: center;
		padding: 4rem 2rem;
		background-color: $white;
		box-shadow: 0px 4px 10px #EBF0FB;
		margin: 1rem 0;
		cursor: default;
		&:hover{
			box-shadow: 0px 4px 10px #c2c6d0;
		}
	}
	.card__img{
		margin-right: 2.4rem;
		object-fit: contain;
		img{
			object-fit: contain;
		}
	}
	.card__number{
		font-size: 2.2rem;
	}
}
.main-sources__cards-equal{
	.cards{
		flex-wrap: wrap;
		justify-content: flex-start;
		flex-shrink: 0;
	}
	.card{
		width: 100%;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 2rem 2rem;
		flex-shrink: 0;
	}
	.card__heading{
		white-space: nowrap;
		text-align: left;
		margin-left: 0!important;
	}
	.card__description{
		text-align: left;
		font-family: 'rawline', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 1.4rem;
		line-height: 145%;
	}
	.greenline{
		width: 38px;
		height: 2px;
		margin: 15px 0;
	}
}


.title-container{
	position: relative;
	margin-top: 3.4rem;
	align-items: center;
}
.title-side-description{
	display: none!important;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.title-side-description__text{
	font-family: 'rawline', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 145%;
	display: flex;
	color: $semi-dark-lighten;
	flex-direction: row!important;
	align-items: center;
	text-transform: uppercase;
	&:before{
		content: "";
		width: 18px;
		height: 1px;
		background-color: $semi-dark-lighten;
		margin-right: 7px;
	}
}

.more{
	margin-top: -1rem;
	font-size: 1rem;
	margin-bottom: 3.1rem;
	margin-left: 1rem;
	@media screen and (min-width: 567px){
		font-size: 1.2rem;
	}
	@media screen and (min-width: 768px){
		font-size: 1.4rem;
	}
	@media screen and (min-width: 1200px){
		margin-left: -1rem;
	}
	img{
		margin-left: 1rem;
	}
}

.main-abilities__cards{
	.cards{
		flex-wrap: wrap;
		margin-bottom: -6rem;
	}
	.card{
		width: 100%;
		margin-bottom: 2rem;
	}
	.card__text-wrapper{
		margin-left: 2.5rem;
	}
	.card__heading{
		margin-bottom: 1rem;
	}
}

.registration{
	transform: translateY(50%);
	background: url('../img/registration-baner.jpg') no-repeat center center /cover;
	border-radius: .5rem;
	margin-bottom: 12rem;
	padding: 2rem;
	box-shadow: 0px 4px 10px $semi-dark-lighten;
}
.registration__heading{
	font-size: 2rem;
	margin-bottom: 1rem;
}
.registration__btn-part{
	justify-content: center;
	align-items: center;
	margin-top: 1.5rem;
}
.registration__btn{
	flex-grow: 0;
	padding: 1.7rem 1.85rem;
	width: fit-content;
	img{
		margin-left: 1rem;
	}
}

.accordion-line-group{
	display: flex;
	flex-direction: column;
	@media screen and (min-width: 576px){
		flex-direction: row;
		display: flex;
	}
}
// .handbook-2-accordion{
// 	.accordion-content{
// 		display: block!important;
// 	}
// }
.sorting-btn{
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	@extend %text-default;
	@extend %adaptive-text-16;
	color: $dark;

	@media screen and (min-width: 992px){
		margin-bottom: 0;
		margin-top: 2rem;
		margin-right: 1.5rem;
	}
	img{
		width: 1.2rem;
		margin-left: .6rem;
	}
}
.handbook-2-accordion-header{
	justify-content: flex-start!important;
	align-items: flex-start!important;
	.accordion-header__heading{
		max-width: 100%!important;
		margin-bottom: 1rem;
	}
	.accordion-header__count{
		margin-top: .3rem;
		margin-right: 1.2rem;
		@media screen and (min-width: 768px){
			margin-right: 2.2rem;
		}
	}

}
.handbook-2-accordion{
	.xs-list__item{
		width: 100%;
	}
	.xs-list__heading{
		width: 100%;
	}
	.xs-list__heading h4, .xs-item__code-number{
		width: 17%!important;
		@media screen and (min-width: 576px){
			width: 10%!important;
		}
		@media screen and (min-width: 768px){
			width: 7%!important;
		}

	}
	.xs-item__code-number{
		word-wrap: break-word;
	}
	.extended-search__list{
		@media screen and (min-width: 576px){
			margin-left: 1.5rem;
		}
		@media screen and (min-width: 768px){
			margin-left: 2rem;
		}
		@media screen and (min-width: 1200px){
			margin-left: 2.5rem;
		}
	}
}
.sorting-btn-naming{
	@extend %text-default;
	@extend %adaptive-text-16;
	color: $semi-dark;
	margin-top: 2rem;
	margin-right: 1.5rem;
}
.accordion-doubled{
	width: 100%;
	@media screen and (min-width: 576px){
		width: 50%;
	}
}
.accordion .accordion-content {
	display: none;
}
.accordion .accordion-header{
	cursor: pointer;
	background-color: $light;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	padding: 2.2rem 3rem 2.2rem 2rem;
}
.accordion-header__heading{
	font-size: 1.4rem;
	color: $dark-accent;
	font-weight: bold;
	max-width: 80%;
}
.accordion-header__arrow{
	transition: .25s ease;
}
.accordion-header .accordion-header__arrow{
	transform: rotate(180deg);
}
.accordion-header--active .accordion-header__arrow{
	transform: rotate(0deg);
}
.accordion .accordion-content{
	padding-left: 2rem;
	padding-right: 3rem;
}
.accordion-content .sorts, .sorts{
	flex-direction: row!important;
	display: inline-flex!important;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
}
.sort-btn{
	padding: 1.1rem 2rem;
}
.raiting-block{
	.fact{
		flex-direction: column!important;
		align-items: flex-start;
		margin-bottom: 1rem;
		font-size: 1.6rem;
	}
}
.accordion-content .sort-btn, .sorts .sort-btn{
	border-radius: 0;
	color: $semi-dark;
	border: 1px solid $semi-lighten;
	border-left: none;
	&:first-child{
		border-radius: 4px 0px 0px 4px;
		border-right: 1px solid $semi-lighten;;
		border-left: 1px solid $semi-lighten;
	}
	&:last-child{
		border-radius: 0px 4px 4px 0px;
		border-left: none;
	}
}

.accordion-content .sort-btn--active, .sorts .sort-btn--active{
	border: 1px solid $light-accent;
	background: $light-accent;
	color: $white;
}
.extended-search{
	margin-bottom: 3rem;
	.xs-list{

	}
	.xs-list__heading{
		flex-direction: row;
		margin-bottom: 2rem;
		h4{
			width: 6rem;
			font-family: 'rawline', sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 1.4rem;
			line-height: 1.6rem;
			color: $semi-dark;
			margin-right: 2.3rem;
		}
	}
	.xs-item{
		flex-direction: row;
		margin-bottom: 1.4rem;
		align-items: flex-start;
	}
	.xs-item__code-number{
		min-width: 6rem;
		font-family: 'rawline', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 1.6rem;
		color: $dark;
		flex-shrink: 0;
		margin-right: 2.3rem;
	}
	.xs-item__activity-type{
		margin-top: -3px;
		font-family: 'rawline', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 1.4rem;
		line-height: 145%;
		color: $dark-accent;
		&:hover{
			color: $rare-accent;
		}
	}
	.more{
		margin-top: 2rem;
	}
}
.accordion-content{
	.tag-set{
		margin-top: 1.5rem;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.tag{
		margin-right: 2rem;
		font-size: 1.4rem;
		font-family: 'rawline', sans-serif;
		font-style: normal;
		font-weight: 500;
		line-height: 145%;
		color: $dark-accent;
		margin-bottom: 1.5rem;
		&:hover{
			color: $rare-accent;
		}
	}
	.tag--disabled{
		color: $semi-dark-lighten;
	}
}
.summary{
	margin-bottom: 5rem;
}
.summary__date{
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.usercard{
	position: relative;
	align-items: flex-start;
	.usercard__header{
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.usercard__heading-row{
		align-items: flex-start;
	}
	.usercard__status{
		margin-left: 1rem;
	}
	.usercard__heading{
		position: relative;
		margin-left: 2.5rem;
		font-style: normal;
		font-weight: 600;
		font-size: 2rem;
		line-height: 145%;
		flex-direction: row;
		color: $dark;
	}
	.usercard__menu-toggle-btn{
		margin-top: .3em;
	}
	.usercard__menu-toggle-btn img{
		width: 2.65rem;
	}
	.usercard__sidebar{
		max-width: 100%;
		flex-grow: 1;
		transform: translateX(-150%);
		transition: .2s ease;
		transition: .3s cubic-bezier(.86,.67,.07,1);
		position: fixed;
		top: 0;
		z-index: 101;
		margin-left: -1.5rem;
		overflow-y: auto;
		overflow: scroll;
    	height: 100%;
	}
	.usercard__sidebar--active{
		transform: translateX(0%);
	}
	.usercard__navigation{
		background-color: $white;
		padding-left: 4px;
		min-height: 250%;
		// height: calc(var(--vh, 1vh) * 120);
		overflow: auto!important;
		padding-top: 3rem;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	}
	.usercard__heading__text{
		display: inherit;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
	}
	.navigation-list{
		padding: 1rem 0;
		padding-bottom: 5rem;
	}
	.navigation-list__item{
		box-shadow: -4px 0px 0px 0px transparent;
		// padding-right: 1.4rem;
		// padding-bottom: 1.5rem;
    	padding-top: 1.5rem;
		width: 100%;
	}
	.navigation-list__link{
		flex-direction: row;
		align-items: center;
		font-weight: bold;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		padding-right: .5rem;
		flex-wrap: nowrap;
		display: flex;
		width: 100%;
		&:hover{
			background-color: $light;
		}
	}
	.link-icon{
		margin: 0 1.1rem;
		font-size: 1.6rem;
		height: 100%;
		width: 1.5rem;
	}
	.link-text{
		font-size: 1.4rem;
		text-transform: uppercase;
		color: $semi-dark;
		letter-spacing: 0.03em;
		line-height: 1.6rem;
	}
	.navigation-list__item--active{
		.navigation-list__link{
			color: $light-accent;
			box-shadow: -4px 0px 0px 0px $light-accent;
		}
		.link-icon:before{
			color: $light-accent;
		}
		.link-text{
			color: $light-accent;
		}
	}
	.usercard__content{
		height: 100%;
		flex-grow: 2;
		align-items: flex-start;
	}
	aside .adc-baner{
		margin: 2rem 0;
	}
	aside>*:not(.usercard__navigation) {
		.main-block{
			margin-top: 0;
		}
    	display:none;
		margin-top: 2rem;

	}
	*[class*="placeholder"]{
		width: 100%;
	}
	@media screen and (min-width: 768px){
		aside>*:not(.usercard__navigation) {
	    	display: flex;
		}
	}
	.main-block .adc-baner{
		margin: 2rem 0;
	}
	.adc-baner{
		width: 100%;
		flex-grow: 1;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
		margin: 2rem 0;
		img{
			flex-grow: 1;
			object-fit: cover;
			width: 100%;
		}
	}
	.usercard__close-nav-btn{
		position: fixed;
		top: 20px;
		right: 20px;
		img{
			width: 2rem
		}
	}
}

// any block inside main parth of the page
.main-block{
	margin: 0;
	background: $white;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	width: 100%;
	flex-grow: 2;
}

%card-padding-adaptive{
	padding: 1.5rem 1rem 1rem 1rem;
}
.main-block .main-block__header{
	// @extend %card-padding-adaptive;
	flex-direction: row;
	align-items: flex-start;
	padding: .5rem .5rem 0rem .5rem;
	@media screen and (min-width: 567px){
		padding: 1rem 1rem 0rem 1rem;
	}
	.main-block__heading{
		padding-bottom: 0rem;
		padding-top: 1rem;
	}
}
.main-block .main-block__header--small {
	padding: .1rem .5rem 0rem .5rem;
	@media screen and (min-width: 567px){
		padding: .2rem 1rem 0rem 1rem;
	}
	@media screen and (min-width: 992px){
		 padding: .3rem 2rem 0 2rem!important;
	}
	.main-block__title{
		padding-bottom: 0rem;
		padding-top: .3rem;
	}
}
.main-block .main-block__updated{
	display: none;
	margin-left: auto;
	flex-direction: row;
	color: $dark;
	margin-top: 1.05rem;
}
.main-block__title{
	@extend %heading-default;
	font-size: 1.4rem;
	text-transform: uppercase;
	font-weight: bold!important;
	@media screen and (min-width: 567px){
		padding-bottom: .2rem;
	}
}
.main-block__content{
	@extend %card-padding-adaptive;
	padding-top: 1rem!important;
	padding-bottom: 1rem!important;
	@media screen and (min-width: 768px){
		padding-bottom: 1.5rem!important;
	}
	@media screen and (min-width: 992px){
		padding-bottom: 2rem!important;
	}
}
.main-block__content--accent-header{
		padding: 1.5rem 2rem 2rem 2rem;
		@media screen and (max-width: 578px){
			padding: 1rem .5rem 1rem .5rem;
		}
		.search-list__item{
			&:hover{
				background: white;
			}
		}
}
.main-block__text{
	@extend %adaptive-text-16;
	line-height: 145%;
	margin-bottom: 1rem;
	&:last-child{
		margin-bottom: 0;
	}
	@media screen and (min-width: 992px){
		margin-bottom: 1.5rem;
		&:last-child{
			margin-bottom: 0;
		}
	}
}
.main-block__text--white-header{
}
.main-block__accent-header{
	padding-bottom: 1rem!important;
	padding-top: .5rem!important;
}
.main-block .status{
	flex-direction: row;
	align-items: center;
	margin-top: .5rem;
	margin-bottom: .5rem;
	line-height: 145%;
	color: $semi-dark-lighten;
	@extend %adaptive-text-14;
	span{
		margin-right: .8rem;
	}
}
.main-block{
	.main-block__info-content{
		margin-top: 1rem;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.main-block__info-item{
		@extend %adaptive-text-16;
		display: flex;
		flex-direction: column;
		width: 48%;
		// padding-top: 1.5rem;
		margin-bottom: .7rem;
		margin-top: .8rem;
	}
	.info-item--single{
		width: 100%;
	}
	.info-item__key{
		color: $dark;
		font-weight: bold;
		flex-shrink: 0;
		line-height: 145%;
	}
	.info-item__value{
		flex-direction: column;
		color: $semi-dark;
		margin-top: .6rem;
		line-height: 145%;
	}
	.info-item__sub-value{
		color: $semi-dark;
		margin-top: 0rem;
		font-size: 1.2rem;
	}
	.main-block__link-info{
		@extend %adaptive-text-14;
		margin-top: .5rem;
		font-weight: bold;
		text-transform: uppercase;
		@media screen and (min-width: 768px){
			margin-top: .8rem;
		}
		@media screen and (min-width: 1200px){
			margin-top: 1.4rem;
		}
	}
	.main-block__link{
		@extend %adaptive-text-14;
		margin-top: .5rem;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.03em;
	}
	.main-block__link-text, .mention__text{
		margin-right: .6rem;
	}
	.inline{
		flex-direction: row!important;
	}
	.mention{
		font-size: 1.2rem;
		color: #F06F11;
	}
	.info-item__link{
		color: $dark-accent;
		text-decoration: underline;
	}
	.text-with-link{
		display: block;
		a, span{
			display: inline;
			line-height: 145%;
		}
	}
	.config-btn{
		background: linear-gradient(90deg, #FC6B54 0%, #FC7A47 100%);
		padding: .5rem .11rem;
		width: 100%;
		font-size: 1.2rem;
		color: $white;
		align-items: center;
		line-height: 2.6rem;
		border-radius: 4px;
		margin-top: 2rem;
		margin-bottom: .5rem;
	}
	.config-btn-row{
		align-items: center;
	}
	.btn-row{
		flex-wrap: wrap;
	}
	.btn-wrap-l{
		padding-top: .5rem;
		&:first-child{
			padding-right: .5rem;
		}
		&:last-child{
			padding-left: .5rem;
		}
	}
}
// alert-block (witch company condition)
// alerts are used like a usual BEM modificator to .main-block
.main-block--alert{
	background: #FFF8F8;
	border: 1px solid $low;
	box-sizing: border-box;
	.main-block__info-item{
		margin-top: 1rem;
		&:first-child{
			margin-top: 0!important;
		}
	}
	margin-bottom: 0;
	.main-block__accent-header{
		padding-bottom: 0!important;
	}
	.main-block__title{
		color: $dark;
		padding-bottom: 2px!important
	}
	.message{
		color: $dark;
		font-weight: bold;
	}
	.date{
		color: $semi-dark;
	}
}

.owner-baner-inner{
	background: linear-gradient(157.16deg, #7DB50E 35.1%, #8CCA12 67.02%)!important;
	button{
		margin-top: 1.5rem;
	}
}
.owner-baner{
	.main-block__title{
		padding: .5rem .5rem;
		font-size: 1.8rem;
	}
	.owner-baner__content{
		padding-top: 0rem!important;
	}
	.owner-baner__heading{
		margin-bottom: 0;
	}
	.btn-std{
		svg{
			margin-left: 1rem;
		}
	}
	.main-block__info-item{
		width: 100%;
	}
	.main-block__info-item{
		// margin-top: -2.5rem;
		// margin-bottom: 2.5rem;
	}
}

.facts__list--nowrapper{
	.fact__key{
		flex-direction: row;
		&:after{
			content: ":"
		}
	}
}
.changes{
	@extend %adaptive-text-16;
	@extend %text-default;
	.item__key{
		font-weight: bold;
	}
	.item__value{
	}
	.info-item{
		margin-bottom: 1rem;
		@media screen and (min-width: 992px){
			margin-bottom: 1.5rem;
		}
	}
}
body{
	.changes{
		.changes__buttons{
			flex-direction: column-reverse;
			a{
				margin-bottom: 1rem;
			}
		}
	}
	.facts{
		flex-direction: column;
	}
	.level{
		border-radius: 4px;
		padding: .9em 2.2em;
		font-size: 16px;
		color: $white;
		width: fit-content;
		margin-bottom: 1.1rem;
	}
	.level--high{
		background: $high;
	}
	.level--medium{
		background: $medium;
	}
	.level--bad{
		background: $low;
	}
	.level--negative{
		background: $negative;
	}
	.facts__heading{
		@extend %heading-default;
		@extend %adaptive-text-16;
		margin-bottom: 1rem;
	}
	.facts__list{
		width: fit-content
	}
	.facts__item, .fact{
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;

		@media screen and (max-width: 768px){
			.mr-auto{
				margin-left: auto;
				margin-right: 0;
			}
			.mr-1{
				margin-right: 1rem;
			}
		}
	}
	.fact__key, .fact__value{
		@extend %text-default;
		@extend %adaptive-text-16;
	}
	.fact__key{
		margin-right: auto;
		color: $dark;
	}
	.fact__value{
		margin-left: 1rem;
		color: $light-accent;
		font-weight: bold!important;
	}
	.fact__value--big{
		@extend %heading-16-to-20;
	}
}

// Table
.table-wrapper{
	margin-bottom: 1rem;
}
.table-layout{
	margin-top: 1rem;
}
.table__title{
	background: $light;
	@extend %adaptive-text-18;
	border: 1px solid #ECECEC;
	border-bottom: 0;
	font-weight: 600!important;
}

.table{
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ECECEC;
	border-bottom: 0
}

.table__body{}

.table__row{
	display: flex;
	flex-direction: column;
	@extend %adaptive-text-16;
}
td, th, .table__title{
	padding: .5em;
	@extend %text-default;
}
thead{
	td{
		@extend %adaptive-text-16;
		font-weight: 600;
	}
}
td, th{
	margin: 0;
	// border: 1px solid #ECECEC;
}
.table__key{
	width: 100%;
	text-align: left;
	font-weight: normal;
	vertical-align: top;
}

.table__value{
	text-align: left;
}
.table__row .table__value:last-child{
	border-bottom: 1px solid #ECECEC;
}
.table--minkey{
	.table__key{
		width: 10%;
		border-bottom: 1px solid #ECECEC;
		border-right: 1px solid #ECECEC;
		padding-left: 10px;
	}
	.table__value{
		padding-left: 12px;
	}
	.table__row{
		display: table-row!important;
	}
}
.table-collapse{
	thead{
		border-top: 1px solid #ECECEC;
	}
	.finances-table__thead-palceholder{
		border-right: 1px solid #ECECEC;
	}
	.translating{
		text-align: right;
	}
	.table__key{
		width: auto!important;
		color: $dark;
	}
	@media screen and (max-width: 480px){
		.table__key{
			border-right: none!important;
			padding-bottom: 0;
		}
		.table__value{
			padding-top: 0;
			font-size: 1.6rem;
			font-weight: 600;
		}
		thead{
			border-bottom: 1px solid #ECECEC;
		}
		.finances-table__thead-palceholder{
			font-weight: normal!important;
			padding-bottom: 0;
		}
		.translating{
			padding-left: 0;
		}
	}
}
// /Table

// adc
	.promo{
		background-color: #f4f4f4;
	}
	.promo__outer{
		position: relative;
	}
	.promo__inner{
		display: flex;
		width: 100%;
		position: relative;
	}
	.promo__placeholder{
	}
	.promo__text-part{
		// position: absolute;
		width: 60%;
		height: 100%;
		left: 0%;
		height: 100%;
		margin: auto;
		margin-left: 0;
		// 30%
		max-width: 100%;
		// 50%
		width: 70%;
		padding: 20px 0;
		z-index: 1;
	}
	.promo__img-part{
		height: 100%;
		width: 40%;
		position: absolute;
		right: 0;
		top: 10%;
		z-index: 0;
	}
	.promo__img{
		object-fit: contain;
		// width: unset;
		width: 250px;
		transform: translateX(-5%);
	}
	.promo__heading{
		font-size: 30px;
		line-height: 43px;
	}
	.promo__text{
		font-weight: 500;
		font-size: 16px;
		line-height: 145%;
	}
	.buttons{
		display: flex;
		flex-direction: column;
		padding-top: 2.5rem;
	}
	.button{
		width: 24.2rem!important;
		padding: 1.2em 3em;
		font-size: 14px;
		letter-spacing: 0.1em;
		white-space: nowrap;
		display: flex;
		justify-content: center;
		text-align: center;
		width: fit-content;
		text-transform: uppercase;
		color: $white;
		border-radius: 4px;
		margin-bottom: 1rem;
	}
	@media screen and (min-width: 350px){
		.promo__text-part{
			position: unset;
		}
		.promo__img-part{
			position: unset;
			margin-top: auto;
		}
		.promo__img{
			transform: translateX(0%);
			margin-top: auto;
			width: 300px;
		}
	}
	@media screen and (min-width: 500px){
		.promo__text-part{
			left: 0%;
			max-width: 50%;
		}
		.promo__img{
			width: 300px;
			object-fit: cover;
		}
	}
	@media screen and (min-width: 600px){
		.promo__text-part{
			margin-left: 1.5rem;
		}
		.promo__img{
			width: 350px;
			object-fit: cover;
		}
	}
	@media screen and (min-width: 767px){
		.promo__text-part{
			left: 30%;
			max-width: 50%;
			margin-left: 3rem;
		}
		.buttons{
			flex-direction: row;
			justify-content: flex-start!important;
		}
		.button{
			margin-right: 3rem;
		}
		.promo__img{
			width: unset;
			transform: translateX(0);
		}
	}
	@media screen and (min-width: 1200px){
		.promo__text-part{
			left: 0%;
			max-width: 43%;
			padding: 12.2rem 0;
			margin: auto 0;
			margin-left: 4rem;
		}
		.promo__text{
			font-weight: 500;
			font-size: 20px;
			line-height: 145%;
		}
		.promo__heading{
			font-size: 5rem;
			margin-bottom: 3rem;
		}
		.promo__inner{
			justify-content: space-between;
		}
		.promo__img-part{
			width: 45%;
			max-width: 70%;
		}
		.promo__img{
			width: 100%;
		}
		.button{
			width: unset!important;
		}
	}
	.text-block{
		p{
			@extend %text-default;
			@extend %adaptive-text-16;
			color: #666666;
			margin-bottom: 1.5rem;
			&:last-child{
				margin-bottom: 3rem;
			}
		}
		h1{
			@extend %heading-default;
			@extend %heading-20-to-35;
			color: $dark-accent;
			margin-top: 3rem;
			margin-bottom: 1.5rem;
		}
		h2{
			@extend %heading-default;
			@extend %heading-16-to-20;
			color: $dark;
			margin-top: 2rem;
			margin-bottom: 1rem;
		}
		h3{
			@extend %adaptive-text-16;
			@extend %heading-default;
			color: $dark;
			font-weight: bold;
			margin-top: .6rem;
			margin-bottom: .4rem;
		}
		.h3-extra-margin{
			margin-top: 4rem;
			margin-bottom: 1rem;
			@media screen and (max-width: 768px){
				margin-top: 2rem;
			}
			&:first-child{
				margin-top: 1rem;
			}
		}
		ul{
			margin-bottom: 1.5rem;
		}
		li{
			@extend %text-default;
			@extend %adaptive-text-16;
			color: #666666;
			&:before{
				content: "• "
			}
		}
		a{
			color: $dark-accent;
			@extend %adaptive-text-16;
			@extend %heading-default;
			text-decoration: underline;
		}
		.goto-link{
			@extend %adaptive-text-14;
			color: $light-accent;
			display: flex;
			align-items: center;
			letter-spacing: 0.03em;
			span{
				margin-right: .8rem;
			}
		}
	}
	.about-portal-promo{
		display: flex;
		flex-direction: row;
		padding-bottom: 3rem;
	}
	.about-portal-promo__text-part{
		max-width: 100%;
		@media (min-width: 768px){
			max-width: 70%;
		}
		@media (min-width: 992px){
			max-width: 60%;
		}
	}
	.about-portal-promo__image-part{
		width: fit-content;
	}
	.about-portal-promo___image-mix{
		position: relative;
		width: fit-content;
		width: 200px;
		transform: translateX(-25%);
		@media (min-width: 992px){
			transform: translateX(0%);
		}
	}
	.about-portal-promo__image{

	}
	.about-portal-promo__laptop{
		width: 300px;
		@media (min-width: 768px){
			width: 400px
		}
		@media (min-width: 992px){
			width: 450px
		}
	}
	.about-portal-promo__phone{
		width: 60px;
		position: absolute;
		bottom: -50%;
		transform: translateY(-40%);
		left: 20%;
		@media (min-width: 768px){
			width: 80px;
			left: 30%;
			// transform: translateY(-20%);
		}
	}
// /adc

// filters
.filters{
	flex-wrap: wrap;
	flex-shrink: 0;
	background: $light;
	margin: 0 -3rem 0 -2rem;
	padding: 0 2rem;
	@media screen and (min-width: 992px){
		margin-right: 0;
		margin-left: 0;
		margin-top: 3rem;
	}
}
.filters-by{
	padding: 0;
	@media screen and (min-width: 992px){
		// padding: 0 1.5rem;
		margin-bottom: 1.5rem;
	}
}

.filter-wrapper{
	background: white;
	border: 1px solid #BDBDBD;
	border-radius: 4px;
	width: fit-content;
	padding: .7rem 1rem;
	max-height: 3.5rem;
	width: 200px;
	display: flex;
	@media screen and (min-width: 992px){
		width: 220px;
	}
}
.filter-wrapper label{
	width: 100%;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
	align-items: center;
}
.filter-wrapper input{
	width: 100%;
	background: transparent;
}

.filter-item, .filter[type='text']{
	@extend %text-default;
	@extend %adaptive-text-16;
	color: $dark-accent;
}
.filter-title{
	@extend %text-default;
	@extend %adaptive-text-16;
	color: $semi-dark;
}
.filter[type='text']{
	font-size: 1.4rem!important;
}

.filter-unit{
	padding-top: 1rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
	flex-grow: 0;
	width: unset;
	flex-shrink: 0;
	position: relative;
	@media screen and (min-width: 992px){
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-right: 6rem;
		.filter-title{
			margin-right: 2rem;
			width: 5rem;
		}
	}
}

.select-wrapper {
    width: 200px;
    position: relative;
    height: 38px;
    color: #444;
    background: $white;
    border: 1px solid #bcbcbc;
    border-radius: 4px;
	display: flex;
	align-items: center;
	max-height: 3.6rem;
	overflow: hidden;
	@media screen and (min-width: 992px){
		width: 220px;
		max-height: 5.5rem;
	}
}

.select-wrapper > select {
	@extend %text-default;
	@extend %adaptive-text-16;
	color: $dark-accent;
    width: 100%;
    padding: .6rem 1rem;
    background: transparent;
    border: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
	flex-shrink: 0;
	flex-wrap: nowrap;
	position: relative;
	z-index: 2;
}

.handbook2 .part-wrapper .select-wrapper > select {
    padding: .9rem 1rem;
}

.select-wrapper > select::-ms-expand{
    display: none;
}

.select-arrow{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-20%);
    z-index: 1;
}
.process{
	margin-bottom: 1.5rem;
	cursor: default;
	@media screen and (min-width: 576px){
		margin-bottom: 2rem;
	}
	@media screen and (min-width: 992px){
		margin-top: 3rem;
	}
}
.process__heading{}
.process__main-heading-part{
	align-items: flex-start;
}
.process__date{
	margin-left: .5rem;
}
.process__resource{
	@media screen and (min-width: 576px){
		margin-left: 1.5rem;
	}
	@media screen and (min-width: 992px){
		margin-left: 3rem;
	}
}
.process__subject{
	line-height: 145%;
	margin-top: .5rem;
}
.process__details{
	li{
		span{
			line-height:145%;
		}
		margin-top: .5rem;
		line-height: 145%;
		@media screen and (min-width: 576px){
			margin-top: .5rem;
		}
	}
}
.process__key{
	margin-right: .5rem;
}
.process__value{
	line-height: 145%;
}
// /filters
.page-counter{
	flex-direction: row;
	color: $semi-dark;
	@extend %adaptive-text-16;
	line-height: 145%;
}
	.select-wrapper .pagination__select{
			padding-right: 3.5rem;
			padding-top: .2rem;
			padding-bottom: .2rem;
			position: relative;
			z-index: 2;
			background: transparent;
	}
	.select-wrapper{
		height: unset;
		.select-arrow{
			z-index: 1;
		}
	}
.pagination-wrapper{
	margin-top: 3.5rem;
}
.pagination__page-list{}
.pagination__item{}
.pagination__total{}
.pagination__more{
	font-size: 16px;
	line-height: 145%;
	color: $dark-accent;
	letter-spacing: 0.08em;
	font-weight: 600;
}
.pagination__arrow{
	margin: 0 1rem;
	margin-top: 2px;
	@media screen and (min-width: 992px){
		margin: 0 1rem;
		margin-top: -1px;
	}
}
.pagination__arrow--reversed{
	transform: rotate(180deg);
}
.pagination__link{
	padding: .5rem .55rem;
	@extend %adaptive-text-16;
	line-height: 145%;
	color: $dark-accent;
	font-weight: 600;
	border-radius: 2px;
	margin: 0 .2rem;
	@media screen and (min-width: 567px){
		padding: .5rem .85rem;
		margin: 0 .3rem;
	}
}
.pagination__link--active{
	background: $light-accent;
	color: $white;
}
.sorts--four-items .sort-btn{
		 padding: .3em .4em;
}

.process__text-block{
	span, i{
		line-height: 145%;
	}
	i, a{
		color: $semi-dark;
		font-weight: normal!important;
		text-decoration: none;
		margin-top: .3em;
	}
}
.handbook-accordion{
	.accordion-header{
		padding-bottom: 1rem;
		@media screen and (min-width: 992px){
			padding-bottom: 1.5rem;
		}
	}
	.accordion-content{
		padding-top: 0!important;
		padding-left: 3rem!important;
		padding-right: 1.5rem!important;
		@media screen and (min-width: 992px){
			padding-top: 0!important;
		    padding-left: 4rem!important;
		    padding-right: 1.5rem!important;
		}
		.xs-item__code-number{
			@media screen and (max-width:480px){
				width: 3rem;
			}
			@media screen and (min-width:481px){
				width: 5rem;
			}
		}
		.xs-list__heading h4{
			@media screen and (max-width:480px){
				width: 3rem;
			}
			@media screen and (min-width:481px){
				width: 5rem;
			}
		}
	}
}
.handbook{
	.accordion-content{
		padding-left: 0;
		padding-right: 0;
		padding-top: 2rem;
		@media screen and (min-width: 576px){
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
	}
	padding: 1.5rem 0!important;
}
.handbook__region-btn{
	margin-right: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 4rem;
	@media screen and (max-width: 576px){
		margin-left: auto;
		margin-top: 0;
	}
}
.part-wrapper{
}
.handbook2-search-list{
	li{
		margin-left: -1.5rem;
	    padding-left: 1.5rem;
	    margin-top: -1.5rem;
	    padding-top: 1.5rem;
		margin-bottom: 1.5rem;
		margin-right: -1.5rem;
		padding-right: 1.5rem;
		@media screen and (max-width: 992px){
			margin-left: -1rem;
		    padding-left: 1rem;
		    margin-top: -1rem;
		    padding-top: 1rem;
			margin-bottom: 1.5rem;
			margin-right: -1rem;
			padding-right: 1rem;
		}
		@media screen and (max-width: 576px){
			margin-left: -.5rem;
		    padding-left: .5rem;
		    margin-top: -.5rem;
		    padding-top: .5rem;
			margin-bottom: 1rem;
			margin-right: -.5rem;
			padding-right: .5rem;
		}
	}
}
.promo-block{

}
.promo-block__img-part{
	width: 70%;
	max-height: 26rem;
	@media screen and (min-width: 568px){
		width: 100%;
	}
	@media screen and (min-width: 992px){
		max-height: 28rem;
	}
	img{
		object-fit: contain;
	}

}
.promo-block__list-part{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.promo-block__list{
	margin: 2rem auto;
	max-height: 28rem;
	@media screen and (min-width: 568px){
		margin: 0;
		margin-left: auto;
		margin-top: 4rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	@media screen and (min-width: 768px){
		margin-right: 3rem;
	}
	@media screen and (min-width: 992px){
		width: 70%;
		margin-right: 5rem;
	}
	@media screen and (min-width: 1200px){
		margin-right: 13rem;
	}
}
.promo-block__item{
	white-space: nowrap;
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 1rem;
	line-height: 4.3rem;
	&:last-child{
		margin-bottom: 0;
	}
	&:before{
		content: "";
		display: inline-block;
		width: .6rem;
		height: .6rem;
		background: $light-accent;
		position: absolute;
		left: -1.2rem;
		top: 50%;
		transform: translateY(-50%);
		border-right: .5rem;
		@media screen and (min-width: 568px){
			left: -1.6rem;
		}
		@media screen and (min-width: 992px){
			width: .8rem;
			height: .8rem;
			left: -2rem;
		}
	}
}
body{
	.equal-height{
		height: 14rem;
		align-items: flex-start!important;
	}
}
.adc-cards{
	.cards{
		flex-direction: column!important;
		align-items: center!important;
		@media screen and (min-width: 768px){
			flex-direction: row!important;
		}
	}
	.cards__pair{
		@media screen and (min-width: 768px){
			width: 50%;
		}
	}
	.card{
		align-items: center!important;
		padding-top: 0;
		padding-bottom: 0;
		@media screen and (min-width: 768px){
			align-items: flex-start!important;
		}
	}
	.card__text{
		width: 80%;
		text-align: center;
		@media screen and (min-width: 380px){
			width: 60%;
		}
		@media screen and (min-width: 568px){
			width: 75%;
		}
	}
	.card__number{
		width: 100%;
		margin-bottom: 1rem;
		border-bottom: 1px solid #E0E0E0;
		text-align: center;
	}
}
.page-pictures-wrapper{
	position: relative;
	.page-switcher{
		display: flex!important;
		@media screen and (min-width: 576px){
			display: none!important;
		}
	}
}
.page-pictures{
	width: 100%;
	display: flex;
	overflow: hidden;
	img{
		// object-fit: contain;
		height: auto;
		display: flex;
		flex-grow: 0;
		flex-shrink: 10;
		width: 100%;
		max-height: 80rem;
		margin-top: 1rem;
		@media screen and (min-width: 992px){
			max-height: unset;
		}
	}
	.desktop-wrapper{
		@extend %heading-16-to-20;
		font-weight: bold;
		height: fit-content;
		max-width: 640px;
		@media screen and (min-width: 992px){
			max-width: none;
		}
		@media screen and (min-width: 576px){
			margin-right: 1rem;
		}
	}
	.mobile-wrapper{
		@extend %heading-16-to-20;
		font-weight: bold;
		max-width: fit-content;
		@media screen and (min-width: 576px){
			margin-left: 1rem;
		}
	}
	.mobile{
		object-fit: contain;
		object-position: left;
	}
	.desktop{
		object-fit: contain;
		object-position: center;
		@media screen and (min-width: 576px){
			object-position: left;
		}
		object-position: center;
		@media screen and (min-width: 992px){
			object-fit: cover;
			object-position: top left;
		}
	}
	.page-name{
		display: none;
		@media screen and (min-width: 576px){
			display: block;
		}
	}
}
.page-pictures-wrapper{
	margin-bottom: 5rem;
	.page-pictures__show{
		margin-top: 1.5rem;
		margin-right: 5rem;
		display: none;
		@media screen and (min-width: 576px){
			display: flex;
		}
		.more{
			white-space: nowrap;
			margin-bottom: 0!important;
			margin-top: 0rem!important;
			margin-left: 0;
		}
	}
}
.contact-us-wrapper{
	background: $light;
}
.contact-us{
	padding: 1rem 0;
	@media screen and (min-width: 568px){
		padding: 5rem 0
	}
	@media screen and (min-width: 992px){
		padding: 7.5rem 0
	}
	@media screen and (min-width: 1200px){
		padding: 9rem 0
	}
	.form-part{
		box-shadow: 0px 4px 15px #E1E7F6;
	}
	form{
		.btn{
			margin-bottom: 0;
		}
		input[type="text"]{
			font-size: 1.6rem;
			letter-spacing: .1em;
		}
	}
	.modal__button{
		border: 0;
	}
	.img-part{
		display: none;
		margin-right: 15%;
		@media screen and (min-width: 768px){
			display: flex;
		}
	}
}
.handbook-table{
	.table{
		border: none!important;
		thead{
			td{
				display: table-cell!important;
				border: none;
			}
		}
		tr{
			display: table-row!important;
			border: none;
		}
		td{
			border: none!important;
			a{
				color: $dark-accent!important;
				&:hover {
					color: $rare-accent!important
				}
			}
		}
		.table__value{
			border: none!important;
		}
		.table__key{
			width: auto!important;
		}
	}	
}
.charts-and-table, .table-responsive{
	.table__key{
		width: 100%;
		border-right: unset;
		@media screen and (min-width: 480px){
			width: 60%;
		}
		@media screen and (min-width: 1200px){
			width: 61%;
			letter-spacing: -0.02em;

		}
	}
	.table__value{
		letter-spacing: -0.02em;
		@media screen and (min-width: 480px){
			text-align: right;
		}
	}
	.more{
		margin-left: 0;
	}
}
.specific-table{
	.table__key{
		border-right: 1px solid #ececec;
	}
}
.page-pictures__show a{
	font-size: 1.4rem;
}
.charts-and-table__table-part{
	width: 100%;
	@media screen and (min-width: 1200px){
		width: 49%;
	}
}
.charts-part{
	width: 100%;
	@media screen and (min-width: 1200px){
		margin-right: 1.5rem;
		width: 51%;
	}
}
.finances-chart{
	width: 100%;
	height: 100%;
	@media screen and (min-width: 768px){
		height: 65%;
	}
	@media screen and (min-width: 1200px){
		height: 50%;
	}
}
.chart{
	margin-bottom: 2rem;
	width: 100%;
}
.chart__heading{
	padding: .5em 0;
}
.finances-page{
	.sort-btn{
		@media screen and (max-width: 567px){
			padding: 1em .8em;
		}
		@media screen and (max-width: 360px){
			padding: .5em .28em;
		}
	}
}

.coefs{
	display: none;
}
.coefs--active{
	display: block;
}
.coef{
	margin-top: 3rem;
	padding-bottom: 1rem;
}
.coef__heading{
	@extend %heading-default;
	color: $dark;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;

	h3{
		word-break: break-all;
		@media screen and (min-width: 992px){
			word-break: keep-all;
			margin-bottom: -1rem;
		}
	}
}
.coef__explaination{
	@extend %text-default;
	color: $semi-dark;
	font-size: 1.4em;
	text-align: center;
	max-width: max-content;
	margin-top: -.5rem;
	@media screen and (min-width: 992px){
		margin-top: -2rem;
	}
}
.coef__heading, .coef__explaination{
	@media screen and (min-width: 992px){
		width: 48%;
	}
}
.coef__number{
	font-size: 1.8rem;
	color: $dark;
}
.coef__mean-number{
	font-size: 1.6rem;
	color: $semi-dark;
}
.coef__image-wrapper{
	padding-left: .7rem;

	img{
		width: 1.2rem;
	}
}
.coef__scheme-part{
	width: 90%;
}
.coef-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	@media screen and (min-width: 576px){
		max-width: 40rem
	}
	@media screen and (min-width: 992px){
		margin-left: auto;
		width: 47%;
		max-width: unset;
	}
}
.scheme{
	width: 100%;
	height: 1.4rem;
	border-radius: 60px;
	overflow: hidden;
}
.scheme__color-line{
	background: linear-gradient(90deg, #E63D3D 13.02%, #FF8514 25.52%, #FF8514 55.73%, #7FB80F 69.79%);
	width: 100%;
	height: 100%;
	border-radius: 60px;
	position: relative;
}
.scheme__overlay{
	position: absolute;
	overflow: visible;
	min-width: 10%;
	height: 100%;
	border-radius: 60px;
	background-color: transparent;
	box-shadow: 50px 0 0 100vw #F0EEEE;
	z-index: 50;
	left: 50%;
	transform: translateX(-50%);
}

.finances-table{
	.finances-table__thead-numeric{
		text-align: right;
		font-weight: 500;
	}
	table{
		border: 1px solid #ECECEC;
	}
	tbody{
		border: 1px solid #ECECEC;
		.finances-table__empty{
			display: none;
			@media screen and (min-width: 568px){
				display: table-cell;
			}
		}
	}
	thead{
		.value-switcher-wrapper{
			border-right: 1px solid #ECECEC;
		}
		.value-switcher{
			text-align: center;
		}
	}
	.switch-btn-next{
		transform: rotate(-90deg);
		margin-left: .5rem;
	}
	.switch-btn-prev{
		transform: rotate(90deg);
		margin-right: .5rem;
	}
	.real-number{
		white-space: nowrap;
	}
	.full-width-row{
		border: 1px solid #ECECEC;
		td{
			@extend %adaptive-text-16;
			font-weight: 600;
		}
	}
	.table__value{
		border: 1px solid #ECECEC;
		text-align: right;
		display: table-cell;
	}
	.table__row{
		display: table-row;
	}
	.finances-table__explain{
		font-weight: lighter;
		text-align: left;
	}
	.finances-table__code{
		text-align: center;
	}
	.td-lg-show{
		display: none;
		@media screen and (min-width: 992px){
			display: table-cell;
		}
	}
	.value-switcher, .value-switcher-wrapper{
		@media screen and (min-width: 992px){
			display: none;
		}
	}

}

// search results

.search-results{
	.central-content{
		width: 70%;
		@media screen and (max-width: 768px){
			width: 100%;
		}
	}
	.side-content{
		width: 30%;
		padding-left: 2rem;
		@media screen and (max-width: 768px){
			display: none;
		}
	}
}
.sort-panel{
	.filter-unit{
		padding-top: 0;
		@media screen and (min-width: 768px){
			margin-left: calc(2rem + 1vw);
			padding-top: 1rem;
		}
	}
}
.breadcrumbs{
	margin-top: 2rem;
	margin-bottom: 2.5rem;
	@media screen and (max-width: 992px){
		margin-bottom: 2rem;
	}
	@media screen and (max-width: 768px){
		margin-top: 1.5rem;
		margin-bottom: 2rem;
	}
	@media screen and (max-width: 567px){
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}
	ul{
		display: block;
	}
	li{
		display: inline;
		padding-right: .4rem;
		padding-left: .6rem;
		border-right: 1px solid $semi-dark;
		padding-top: .3rem;
		padding-bottom: .2rem;
		&:last-child{
			border-right: none;
		}
		&:first-child{
			padding-left: 0;
		}
	}
	a{
		line-height: 145%;
		font-size: 1.4rem;
		color: $semi-dark;
		&:hover{
			color: $rare-accent;
		}
		@media screen and (max-width: 567px){
			font-size: 1.2rem;
		}
	}
	.active{
		color: $dark-accent;
	}
}
// social icons
[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }

  .icon-logotype:before {
    content: "\e919";
    color: #ffffff;
  }
  .icon-status:before {
	content: "\e918";
	color: #86be16;
  }
  .icon-nav-icon20:before {
	content: "\e905";
	color: #bdbdbd;
  }
  .icon-nav-icon19:before {
	content: "\e906";
	color: #bdbdbd;
  }
  .icon-nav-icon18:before {
	content: "\e907";
	color: #bdbdbd;
  }
  .icon-nav-icon17:before {
	content: "\e908";
	color: #bdbdbd;
  }
  .icon-nav-icon16:before {
	content: "\e909";
	color: #bdbdbd;
  }
  .icon-nav-icon15:before {
	content: "\e904";
	color: #bdbdbd;
  }
  .icon-nav-icon14:before {
	content: "\e90a";
	color: #bdbdbd;
  }
  .icon-nav-icon13:before {
	content: "\e90b";
	color: #bdbdbd;
  }
  .icon-nav-icon12:before {
	content: "\e90c";
	color: #bdbdbd;
  }
  .icon-nav-icon11:before {
	content: "\e90d";
	color: #bdbdbd;
  }
  .icon-nav-icon10:before {
	content: "\e90e";
	color: #bdbdbd;
  }
  .icon-nav-icon9:before {
	content: "\e90f";
	color: #bdbdbd;
  }
  .icon-nav-icon8:before {
	content: "\e910";
	color: #bdbdbd;
  }
  .icon-nav-icon7:before {
	content: "\e911";
	color: #bdbdbd;
  }
  .icon-nav-icon6:before {
	content: "\e912";
	color: #bdbdbd;
  }
  .icon-nav-icon5:before {
	content: "\e913";
	color: #bdbdbd;
  }
  .icon-nav-icon4:before {
	content: "\e914";
	color: #bdbdbd;
  }
  .icon-nav-icon3:before {
	content: "\e915";
	color: #bdbdbd;
  }
  .icon-nav-icon2:before {
	content: "\e916";
	color: #bdbdbd;
  }
  .icon-nav-icon1:before {
	content: "\e917";
	color: #bdbdbd;
  }
  .icon-youtube:before {
	content: "\e900";
	color: #bdbdbd;
  }
  .icon-youtube:hover::before{
		color: red;
		cursor: pointer;

  }
  .icon-instagram:before {
	content: "\e901";
	color: #bdbdbd;
  }
  .icon-instagram:hover::before{
	color: rgb(233, 68, 164);
	cursor: pointer;
  }

  .icon-facebook:before {
	content: "\e902";
	color: #bdbdbd;
  }
  .icon-facebook:hover::before {
	  color: #4267B2;
	  cursor: pointer
  }

  .icon-vk:before {
	content: "\e903";
	color: #bdbdbd;
  }
  .icon-vk:hover::before{
	color: #597da3;
	cursor: pointer;

}

// your styles end
@import "media"; // IT SHOULD ALWAYS BE IN THE END OF THE DOCUMENT
