$dark-accent: #1A237E;
$dark-accent-gradient: linear-gradient(180deg, #1A237E 0%, #5A68BE 100%);
$dark-accent-lighten: #5C6AC0;
$rare-accent: #FC6C54;
$light-accent: #86BE16;
$dark: #212121;
$semi-dark: #666666;
$semi-dark-lighten: #999999;
$semi-lighten: #BDBDBD;
$lighten: #D3D3D3;
$light: #F8FAFF;
$white: #ffffff;
$acc-light-gradient: linear-gradient(159.86deg, #8CCA12 29.36%, #B1EF45 91.5%);


$high: #1FAA00;
$medium: #F06F11;
$low: #D31A1A;
$negative: #0B0909;

button[class*="--bg-light-accent"]{
	&:hover{
		background-color: lighten($light-accent, 5%)!important;
		border-color: lighten($light-accent, 5%)!important;
	}
}
// hr в некоторых местах кроссбраузерно фиксит баг с верхними отступами на мобильных устройствах
hr{
    background: transparent;
    width: 1px;
    height: 1px;
}
.ml-0{
    margin-left: 0!important;
}
.global-wrapper{
    overflow-y: auto;
    overflow-x: hidden;
}
.mt-card-outer-margin{
	margin-top: 2rem;
}
.ul{
    text-decoration: underline;
}
.container{
    display: block;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1.5rem;
    position: relative;
}
.usercard__content .container{
    padding: 0;
    width: 100%;
    margin-top: 2rem;
    &:last-child{
        margin-bottom: 3rem;
		@media screen and (min-width: 576px){
			margin-bottom: 5rem;
		}
		@media screen and (min-width: 992px){
			margin-bottom: 6rem;
		}
		@media screen and (min-width: 1200px){
			margin-bottom: 10rem;
		}
    }
}

.usercard__content .container--first{
	margin-top: 0rem!important;
}
.title-std-container{
	margin-bottom: 2rem;
}
// .container *{
//     display: flex;
//     flex-direction: column;
// }

// TD

.img-small{
	width: 3.5rem;
	@media screen and (max-width: 768px){
		width: 2.8rem;
	}
}
.flex{
	display: flex;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.col{
	display: flex;
    flex-direction: column;
    align-items: center;
}
.w-100{
	width: 100%;
}
.w-auto{
	width: auto;
}
// /TD
.hide{
	display: none!important;
}
.d-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.d-col{
	display: flex;
    flex-direction: column;
    align-items: center;
}
.ai-center{
	align-items: center;
}
.ai-start{
	align-items: flex-start;
}
.ai-end{
	align-items: flex-end;
}
.ai-stretch{
	align-items: stretch;
}
.jc-center{
	justify-content: center;
}
.jc-start{
	justify-content: flex-start;
}
.jc-end{
	justify-content: flex-end;
}
.jc-between{
	justify-content: space-between;
}
.flex-wrap{
	flex-wrap: wrap;
}
.nowrap{
	white-space: nowrap;
}
.show-480{
	@media screen and (min-width: 480px){
		display: block!important;
	}
}
// Small (sm)
@media only screen and (min-width: 576px){
	.show-sm{
		display: flex!important;
	}
	.d-sm-row{
	    display: flex;
	    flex-direction: row;
	}
	.d-sm-col{
	    display: flex;
	    flex-direction: column;
	}
	.ai-sm-center{
		align-items: center;
	}
	.ai-sm-start{
		align-items: flex-start;
	}
	.ai-sm-end{
		align-items: flex-end;
	}
	.ai-sm-stretch{
		align-items: stretch;
	}
	.jc-sm-center{
		justify-content: center;
	}
	.jc-sm-start{
		justify-content: flex-start;
	}
	.jc-sm-end{
		justify-content: flex-end;
	}
	.jc-sm-between{
		justify-content: space-between;
	}
	.w-sm-100{
		width: 100%;
	}
	.w-sm-auto{
		width: auto;
	}

}
// Medium (md)
@media only screen and (min-width: 769px){
	.d-md-row{
	    display: flex;
	    flex-direction: row;
	}
	.d-md-col{
	    display: flex;
	    flex-direction: column;
	}
	.ai-md-center{
		align-items: center;
	}
	.ai-md-start{
		align-items: flex-start;
	}
	.ai-md-end{
		align-items: flex-end;
	}
	.ai-md-stretch{
		align-items: stretch;
	}
	.jc-md-center{
		justify-content: center;
	}
	.jc-md-start{
		justify-content: flex-start;
	}
	.jc-md-end{
		justify-content: flex-end;
	}
	.jc-md-between{
		justify-content: space-between;
	}
	.w-md-100{
		width: 100%;
	}
	.w-md-auto{
		width: auto;
	}
}

@media only screen and (min-width: 992px){
	.show-lg{
		display: flex!important;
	}
	.d-lg-none{
	    display: none;
	}
	.d-lg-row{
	    display: flex;
	    flex-direction: row;
	}
	.d-lg-col{
	    display: flex;
	    flex-direction: column;
	}
	.ai-lg-center{
		align-items: center;
	}
	.ai-lg-start{
		align-items: flex-start;
	}
	.ai-lg-end{
		align-items: flex-end;
	}
	.ai-lg-stretch{
		align-items: stretch;
	}
	.jc-lg-center{
		justify-content: center;
	}
	.jc-lg-start{
		justify-content: flex-start;
	}
	.jc-lg-end{
		justify-content: flex-end;
	}
	.jc-lg-between{
		justify-content: space-between;
	}
	.w-lg-100{
		width: 100%;
	}
	.w-lg-auto{
		width: auto;
	}
}
@media only screen and (min-width: 1200px){
	.show-xl{
		display: flex!important;
	}
	.d-xl-row{
	    display: flex;
	    flex-direction: row;
	}
	.d-xl-col{
	    display: flex;
	    flex-direction: column;
	}
	.ai-xl-center{
		align-items: center;
	}
	.ai-xl-start{
		align-items: flex-start;
	}
	.ai-xl-stretch{
		align-items: stretch;
	}
	.ai-xl-end{
		align-items: flex-end;
	}
	.jc-xl-center{
		justify-content: center;
	}
	.jc-xl-start{
		justify-content: flex-start;
	}
	.jc-xl-end{
		justify-content: flex-end;
	}
	.jc-xl-between{
		justify-content: space-between;
	}
	.w-xl-100{
		width: 100%;
	}
	.w-xl-auto{
		width: auto;
	}
}

// main axis (justify content)
div[class*="--between"]{
    justify-content: space-between;
}
div[class*="--center"]{
    justify-content: center;
}
div[class*="--start"]{
    justify-content: flex-start;
}
div[class*="--end"]{
    justify-content: flex-end;
}

// second axis (align items)
div[class*="--ai-center"]{
    align-items: center;
}
div[class*="--ai-start"]{
    align-items: flex-start;
}
div[class*="--ai-end"]{
    align-items: flex-end;
}
div[class*="--ai-stretch"]{
    align-items: stretch;
}
// directions
div[class*="--d-row"]{
    flex-direction: row;
}
div[class*="--d-col"]{
    flex-direction: column;
}




%text-default{
    font-family: 'rawline', sans-serif;
    font-style: normal;
    font-variant-numeric: lining-nums  ;
    font-weight: 500;
    line-height: 145%;
    font-feature-settings: 'pnum' on, 'lnum' on;
}
%heading-default{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 145%;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

// text defaults
.heading{
    @extend %heading-default;
}
.text{
    @extend %text-default;
}

.title-big{
    @extend %heading-default;
    font-size: 2rem;
    color: $dark-accent;
    max-width: 54.7rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    text-align: center;
}
.title-left{
	margin-left: 0;
	text-align: left;
}
.subtitle-std{
    @extend %text-default;
    font-size: 1.4em;
    text-align: center;
    max-width: 57.7rem;
    margin-left: auto;
    margin-right: auto;
}

// heading modificators
.uc{
    text-transform: uppercase;
}
.tc{
    text-align: center;
}
.upper{
    margin-top: -1.5rem;
}
.mw-dynamic{
    max-width: calc(100% - 15vw);
}
body{
	.pb-0{
		padding-bottom: 0!important;
	}
	.mr-responsive-lg{
		@media screen and (min-width: 992px){
			margin-right: calc(2rem + 1vw)
		}
	}
	.mb-0{
		margin-bottom: 0!important;
	}
	.fw-normal{
		font-weight: normal!important;
	}
	.notranslate{
		transform: translateX(0)!important;
		left: 0;
	}
	.p-0{
		padding: 0!important;
	}
	.block{
		display: block;
	}
	.bold{
	    font-weight: bold;
	}
	.ml-0{
		margin-left: 0;
	}
	.pl-0{
		padding-left: 0!important;
	}
	.pl-2{
		padding-left: 2rem!important;
	}
	.ml-1{
		margin-left: 1rem;
	}
	.mr-1{
		margin-right: 1rem;
	}
	.mr-auto{
		margin-right: auto;
	}
	.mr-0{
		margin-right: 0;
	}
	.ml-auto{
		margin-left: auto;
	}
	.mt-0{
		margin-top: 0!important;
	}
	.pt-0{
		padding-top: 0!important;
	}
	.mt-15{
		margin-top: 1.5rem;
	}
	.mt-1{
		margin-top: 1rem;
	}
	.mb-15{
		margin-bottom: 1.5rem;
	}
	.mb-1{
		margin-bottom: 1rem;
	}
	.nodecoration{
		text-decoration: none!important;
	}
	.strict-column{
		flex-direction: column!important;
	}
	.strict-w-100{
		width: 100%!important;
	}
	.pb-little{
		padding-bottom: .5rem;
	}
	.col-to-row-576{
		flex-direction: column;
	}
}
.w-50{
    width: 50%;
}
.border-medium{
	border-width: 2px;
}
.border-white{
	border-color: $white;
	border-style: solid;
}
.border-dark{
	border-style: solid;
	border-color: $dark;
}
.border-dark-accent{
	border-color: $dark-accent;
	border-style: solid;
}
.border-light-accent{
	border-color: $light-accent;
	border-style: solid;
}
.fz-12-to-14{
	@extend %adaptive-text-14
}
.fz-20-to-40{
	font-size: 2rem!important;
}
.fz-11-to-16{
	font-size: 1.1rem;
}
.fz-14-to-16{
	@extend %adaptive-text-16;
}
.fz-16-to-18{
	font-size: 1.6rem;
}
.fz-16-to-25{
	font-size: 1.6rem;
	@media screen and (min-width: 576px){
		font-size: 2rem;
	}
	@media screen and (min-width: 992px){
		font-size: 2rem;
	}
}
.btn-padding-adaptive{
	padding: .6em 1.2em;
}
.reverse{
	flex-direction: row-reverse!important;
}
.lh-md{
	line-height: 120%;
}
.lh-lg{
	line-height: 145%;
}
.fit-content{
	width: fit-content;
}
.p-dynamic{
    padding-left: 5vw;
    padding-right: 5vw;
}
.heading--biggest{
    font-size: 3rem;
}
.heading--huge{
    font-size: 2rem;
}
.heading--medium{
    font-size: 1.6rem;
}
.heading--small{
    font-size: 1.4rem;
}

.heading--huge-adaptive-to-4{
    font-size: 2rem;
}
.heading--huge-adaptive-to-3{
    font-size: 2rem;
}
.heading--medium-adaptive-to-2{
    font-size: 1.6rem;
}

// text-modificators
.text--biggest{
    font-size: 2rem;
}
.text--big{
    font-size: 1.6rem;
}
.text--medium{
    font-size: 1.4rem;
}
.text--small{
    font-size: 1.2rem;
}

.text--medium--adaptive-to-18{
    font-size: 1.4rem;
}
.logo-text-scalable{
    font-size: 1.2rem;
}
.text--medium--adaptive-to-16{
    font-size: 1.4rem;
}
%adaptive-text-16{
    font-size: 1.4rem;
}
%adaptive-text-18{
    font-size: 1.4rem;
}
%adaptive-text-14{
    font-size: 1.2rem;
}
%heading-20-to-35{
	font-size: 2rem;
}
%heading-16-to-20{
	font-size: 1.6rem;
}

// btn
button{
    background-color: transparent;
}
.btn{
    border-radius: 4px;
}
button[class*="--bordered"]{
    border: 1px solid #D3D3D3
}
// background modificators
*[class*="--bg-dark-accent"]{
    background-color: $dark-accent;
}
*[class*="--bg-acc-dark-gradient"]{
    background: $dark-accent-gradient;
}
*[class*="--bg-light-accent"]{
    background-color: $light-accent;
}
*[class*="--bg-acc-light-gradient"]{
    background: $acc-light-gradient;
}
*[class*="--bg-dark-ac-lighten"]{
    background-color: $dark-accent-lighten;
}
*[class*="--bg-black"]{
    background-color: $dark;
}
*[class*="--bg-lighten"]{
    background-color: $lighten;
}
*[class*="--bg-lighter"]{
    background-color: $light;
}
*[class*="--bg-white"]{
    background-color: $white!important;
}
*[class*="--bg-good"]{
    background-color: $high;
}
*[class*="--bg-medium"]{
    background-color: $medium;
}
*[class*="--bg-bad"]{
    background-color: $low;
}
*[class*="--bg-negative"]{
    background-color: $negative;
}
*[class*="--bg-transparent"]{
    background-color: transparent;
}


// color modificators
*[class*="--color-dark-accent"]{
    color: $dark-accent!important;
}
*[class*="--color-light-accent"]{
    color: $light-accent!important;
}
*[class*="--color-dark-acc-lighten"]{
    color: $dark-accent-lighten!important;
}
*[class*="--color-black"]{
    color: $dark!important;
}
*[class*="--color-lighten"]{
    color: $lighten!important;
}
*[class*="--color-lighter"]{
    color: $light!important;
}
*[class*="--color-semi-black"]{
    color: $semi-dark!important;
}
*[class*="--color-semi-dark-lighten"]{
    color: $semi-dark-lighten!important;
}
*[class*="--color-semi-lighten"]{
    color: $semi-lighten!important;
}
*[class*="--color-white"]{
    color: $white!important;
}
*[class*="--color-good"]{
    color: $high!important;
}
*[class*="--color-medium"]{
    color: $medium!important;
}
*[class*="--color-bad"]{
    color: $low!important;
}
*[class*="--color-negative"]{
    color: $negative!important;
}

.good-status{
	color: $high!important;
}
.medium-status{
	color: $medium!important;
}
.bad-status{
	color: $low!important;
}
.negative-status{
	color: $negative!important;
}
