$dark-accent: #1A237E;
$dark-accent-gradient: linear-gradient(180deg, #1A237E 0%, #5A68BE 100%);
$dark-accent-lighten: #5C6AC0;
$rare-accent: #FC6C54;
$light-accent: #86BE16;
$dark: #212121;
$semi-dark: #666666;
$semi-dark-lighten: #999999;
$semi-lighten: #BDBDBD;
$lighten: #D3D3D3;
$light: #F8FAFF;
$white: #ffffff;
$acc-light-gradient: linear-gradient(159.86deg, #8CCA12 29.36%, #B1EF45 91.5%);

button[class*="--bg-light-accent"]{
	&:hover{
		background-color: lighten($light-accent, 5%)!important
	}
}
// hr в некоторых местах кроссбраузерно фиксит баг с верхними отступами на мобильных устройствах
hr{
    background: transparent;
    width: 1px;
    height: 1px;
}
.ml-0{
    margin-left: 0!important;
}
.global-wrapper{
    overflow: hidden;
}
.container{
    display: block;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1.5rem;
    position: relative;
}
.title-std-container{
	margin-bottom: 2rem;
}
.container *{
    display: flex;
    flex-direction: column;
}
// .container table{
//     display: table;
// }
// .container th, .container td{
//     display: table-cell;
// }
// .container tr{
//     display: table-row;
// }
// .container thead{
//     display: table-header-group;
// }
// .container tbody{
//     display: table-row-group;
// }
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

// main axis (justify content)
div[class*="--between"]{
    justify-content: space-between;
}
div[class*="--center"]{
    justify-content: center;
}
div[class*="--start"]{
    justify-content: flex-start;
}
div[class*="--end"]{
    justify-content: flex-end;
}

// second axis (align items)
div[class*="--ai-center"]{
    align-items: center;
}
div[class*="--ai-start"]{
    align-items: flex-start;
}
div[class*="--ai-end"]{
    align-items: flex-end;
}
div[class*="--ai-stretch"]{
    align-items: stretch;
}
// directions
div[class*="--d-row"]{
    flex-direction: row;
}
div[class*="--d-col"]{
    flex-direction: column;
}




%text-default{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
}
%heading-default{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    line-height: 145%;
}

// text defaults
.heading{
    @extend %heading-default;
}
.text{
    @extend %text-default;
}

.title-big{
    @extend %heading-default;
    font-size: 2rem;
    color: $dark-accent;
    max-width: 54.7rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    text-align: center;
}
.subtitle-std{
    @extend %text-default;
    font-size: 1.4em;
    text-align: center;
    max-width: 57.7rem;
    margin-left: auto;
    margin-right: auto;
}

// heading modificators
.uc{
    text-transform: uppercase;
}
.tc{
    text-align: center;
}
.flex{
    display: flex;
}
.upper{
    margin-top: -1.5rem;
}
.mw-dynamic{
    max-width: calc(100% - 15vw);
}
.bold{
    font-weight: bold;
}
.w-100{
    width: 100%;
}
.p-dynamic{
    padding-left: 5vw;
    padding-right: 5vw;
}
.heading--biggest{
    font-size: 3rem;
}
.heading--huge{
    font-size: 2rem;
}
.heading--medium{
    font-size: 1.6rem;
}
.heading--small{
    font-size: 1.4rem;
}

.heading--huge-adaptive-to-4{
    font-size: 2rem;
}
.heading--huge-adaptive-to-3{
    font-size: 2rem;
}
.heading--medium-adaptive-to-2{
    font-size: 1.6rem;
}

// text-modificators
.text--biggest{
    font-size: 2rem;
}
.text--big{
    font-size: 1.6rem;
}
.text--medium{
    font-size: 1.4rem;
}
.text--small{
    font-size: 1.2rem;
}

.text--medium--adaptive-to-18{
    font-size: 1.4rem;
}
.text--medium--adaptive-to-16{
    font-size: 1.4rem;
}

// btn
button{
    background-color: transparent;
}
.btn{
    border-radius: 4px;
}
button[class*="--bordered"]{
    border: 1px solid #D3D3D3
}
// background modificators
*[class*="--bg-dark-accent"]{
    background-color: $dark-accent;
}
*[class*="--bg-acc-dark-gradient"]{
    background: $dark-accent-gradient;
}
*[class*="--bg-light-accent"]{
    background-color: $light-accent;
}
*[class*="--bg-acc-light-gradient"]{
    background: $acc-light-gradient;
}
*[class*="--bg-dark-ac-lighten"]{
    background-color: $dark-accent-lighten;
}
*[class*="--bg-black"]{
    background-color: $dark;
}
*[class*="--bg-lighten"]{
    background-color: $lighten;
}
*[class*="--bg-lighter"]{
    background-color: $light;
}
*[class*="--bg-white"]{
    background-color: $white;
}
*[class*="--bg-transparent"]{
    background-color: transparent;
}


// color modificators
*[class*="--color-dark-accent"]{
    color: $dark-accent;
}
*[class*="--color-light-accent"]{
    color: $light-accent;
}
*[class*="--color-dark-accent-lighten"]{
    color: $dark-accent-lighten;
}
*[class*="--color-black"]{
    color: $dark;
}
*[class*="--color-lighten"]{
    color: $lighten;
}
*[class*="--color-lighter"]{
    color: $light;
}
*[class*="--color-semi-dark"]{
    color: $semi-dark;
}
*[class*="--color-semi-dark-lighten"]{
    color: $semi-dark-lighten;
}
*[class*="--color-semi-lighten"]{
    color: $semi-lighten;
}
*[class*="--color-white"]{
    color: $white;
}
