@import "fonts";
@import "libs";
@import "vars";

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:before, &:after{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

*::-webkit-input-placeholder{
	color: #666;
	opacity: 1;
}

*:-moz-placeholder{
	color: #666;
	opacity: 1;
}
*::-moz-placeholder{
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder{
	color: #666;
	opacity: 1;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid{
	color: #666;
}
body input:required:valid,
body textarea:required:valid{
	color: #666;
}
html, body{
	height: 100%;
	font-size: 10px;
}
body{
	@extend %text-default;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}
.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}

.text-center{
	text-align: center;
}
::selection{
	background-color: $rare-accent;
	color: #fff;
}
// your styles
.p-10{
    padding: 1rem!important;
}
.m-10{
	margin: 1rem!important;
}
.header{
	padding: .9rem 0;
}
.logo{
	.logo__square{
		width: 1.3rem;
		height: 1.3rem;
		&--rounded{
			border-radius: 2.70533px 0px 0px 0px;
		}
	}
	.logo__text{
		margin-left: 10px;
	}
	.logo__subtitle{
		display: none;
		margin-top: 1.4rem;
	}
}

// sign-in button
.sign-in-btn{
	padding: 1.15rem 2rem;
	cursor: pointer;
	transition: all cubic-bezier(0.23, 1, 0.320, 1);
	position: relative;
	display: inline-block;
}
.sign-in-btn:after {
	position: absolute;
	content: "";
	top: 5px;
	left: 6px;
	width: 86%;
	height: 79%;
	border: 1px solid $white;
	border-radius: .2rem;
	opacity: 0;
	transition: all 0.3s ease;
  }
  .sign-in-btn:hover:after {
	opacity: 1;
  }
 

.greenline{
	width: calc(4.9rem + 2vw);
	height: 0px;
	border: 2px solid #86BE16;
}
.feedback-btn{
	padding: 1.8rem 2.4rem;
	span{
		width: 100%;
		text-align: center;
	}
}
.srolltop-btn{
	padding: 1.7rem 2.2rem;
	box-shadow: 0rem .6rem .8rem rgba(116, 167, 16, 0.3);
}
.footer{
	.row-upper{
		.footer__feedback-btn{
			width: 100%;
		}
	}
	.row-lower{
		margin-top: 2.5rem;
		margin-bottom: 3.3rem;
	}
	&__feedback-btn, &__logo{
		margin-top: 3rem;
	}
	&__link-list{
		margin-bottom: 2rem;
	}
	.footer__translate-row{
		display: none;
	}
}
.link-list{
	&__item{
		margin-bottom: .6rem;
		&:last-child{
			margin-bottom: 0;
		}
		& a:hover{
			color: $rare-accent;
		}
	}
	&__wrapper{
		ul:last-child{
			margin-top: .6rem;
		}
	}
}

.main{
	margin-top: 1rem;
}
.promo-main-header{
	padding-top: 3rem!important;
	&__greenline{
		margin-bottom: 2.1rem;
	}
	&__img{
		margin: 0 auto;
		max-width: 176px;
		min-width: 175px;
	}
	.text{
		margin-top: 1.5rem;
		padding-bottom: 3rem;
	}
}

.search-input{
	width: calc(100% - 30px);
	z-index: 10;
	position: relative;
	padding: 5px!important;
	.row{
		padding: 0;
	}
	&--cross-section{
			position: absolute;
			transform: translate(-50%, -50%);
			margin-left: 50%!important;
			box-shadow: 0px 4.00655px 15.0245px rgba(42, 51, 141, 0.3);
			border-radius: 5.00818px;
			font-size: 14px;
			z-index: 10;
			
			
	}
	input{
		width: 100%;
		font-size: 1.2rem;
		z-index: 10;
		padding: 15px;
	}
	.search-input__btn{
		height: 100%;
		padding: 1.2rem 1.4rem;
		margin-right: 3px;
	}
	.search-icon{
	}
	.search-text{
		display: none;
	}
	.search-input__related-contend{
		width: 98%;
		margin: 0 auto;
		z-index: 10;
	}
	.search-list{
		position: absolute;
		background: $white;
		left: 0;
		right: 0;
		padding: 0 15px;
		display: none;
		box-shadow: 0px 10.00655px 15.0245px rgba(42, 51, 141, 0.3);
		.search-input__divider{
			background: $lighten;
			width: 100%;
			height: 1px;
			margin-top: .5rem;
			margin-bottom: .5rem;
			z-index: 10;
		}
		.search-input__results{
			z-index: 10;
			margin-bottom: 1rem;
			margin-top: 1rem;
		}
		.search-list__item, .search-item{
			padding-top: 1rem;
			padding-bottom: 1.5rem;
			margin-left: -1.5rem;
			margin-right: -1.5rem;
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			cursor: pointer;
			&:hover{
				background-color: $light;
			}
		}
		.search-item__row{
			flex-wrap: wrap;
			align-items: center;
		}
		.search-item__heading{
			margin-bottom: .5rem;
			color: $dark-accent;
			font-size: 1.6rem;
			line-height: 125%;
		}
		.search-item__status{
			margin-bottom: .5rem;
			font-size: 1.2rem;
		}
		.bad-status{
			color: #D31A1A;
		}
		.search-item__city{

		}
		.search-item__identification-number,
		.identification-number, .search-item__city{
			margin-right: 2rem;
			font-size: 1.4rem;
			margin-top: .5rem;
			margin-bottom: .5rem;
		}
		.identification-number__type{
			color: $semi-dark-lighten;
			text-transform: uppercase;
			font-size: 1.4rem;
		}
		.identification-number__number{
			color: $dark;
			margin-left: 1rem;
			font-size: 1.4rem;
		}
	}
	.show-results{
		display: block;
	}
}
.promo-main-header__main-container{
	padding: 0!important;
}

// modals
.arcticmodal-container_i2{
	padding: 0;
}
.modal__content{
	position: relative;
	display: flex;
	padding: 4rem 1.5rem;
	flex-direction: column;
	min-width: 24rem;
	border-radius: .5rem;
	width: 100%;
	max-width: 520px;
	.modal__form{
		display: flex;
		flex-direction: column;
		margin-top: 3rem;
		.modal__label-row{
			margin-bottom: .3rem;
		}
		& > .row{
			margin-bottom: 1.5rem;
		}
	}
	.input-wrapper{
		background: #FFFFFF;
		border: 1px solid #E0E0E0;
		box-sizing: border-box;
		border-radius: 4px;
		width: 100%;

		input{
			padding: 1.3rem 2rem;
			width: 100%;
			font-size: 1.6rem;
		}
	}
	.btn{
		padding: 1.4rem 5.5rem;
		margin: 0.2rem auto 3rem auto;
	}
}
.modal__close__btn{
	display: flex;
	justify-content: flex-end;
}
.modal__navigation{
	display: flex;
	justify-content: center;

	.modal__button{
		padding: 0 2rem .7rem 2rem;
		border-bottom: 1px solid $lighten;

		&--active{
			border-bottom: 3px solid $light-accent;
			color: $light-accent;
		}
	}
}
.modal__close__btn{
	position: absolute;
	padding: .5rem;
	top: 1.3rem;
	right: 1.3rem;
}
.modal__social-icons{
	display: flex;
	margin-top: .9rem;
	span{
		font-size: 3rem;
		margin-right: .9rem;
		&:last-child{
			margin-right: 0rem;
		}
	}
}
.call-signin-btn{
	cursor: pointer;
}
.modal__custom-checkbox{
}
.custom-checkbox-wrapper{
	flex-shrink: 0;
}
.custom-checkbox{
	display: none;
}
.custom-checkbox:checked + .custom-checkbox__fake:before{
	opacity: 1;
	background-color: $light-accent;
	background-image: url(../img/checked.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}
.custom-checkbox__fake{
	display: flex;
    flex-shrink: 0;
	width: 20px;
	height: 20px;
	border: 1px solid $light-accent;
	border-radius: 2px;
	margin-right: 1rem;
	position: relative;

	&:before{
		content: "";
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: background-color .2s ease;
	}
}

.main-info__cards, .main-sources__cards-equal{
	margin-top: 2rem!important;
	margin-bottom: 3rem!important;
	.card{
		flex-grow: 1;
		align-items: center;
		justify-content: center;
		padding: 4rem 2rem;
		background-color: $white;
		box-shadow: 0px 4px 10px #EBF0FB;
		margin: 1rem 0;
	}
	.card__img{
		margin-right: 2.4rem;
	}
	.card__number{
		font-size: 2.2rem;
	}
}
.main-sources__cards-equal{
	.cards{
		flex-wrap: wrap;
		justify-content: flex-start;
		flex-shrink: 0;
	}
	.card{
		width: 100%;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 2rem 2rem;
		flex-shrink: 0;
	}
	.card__heading{
		white-space: nowrap;
		text-align: left;
		margin-left: 0!important;
	}
	.card__description{
		text-align: left;
		font-family: Raleway;
		font-style: normal;
		font-weight: normal;
		font-size: 1.4rem;
		line-height: 145%;
	}
	.greenline{
		width: 38px;
		height: 2px;
		margin: 15px 0;
	}
}


.title-container{
	position: relative;
	margin-top: 3.4rem;
	align-items: center;
}
.title-side-description{
	display: none!important;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.title-side-description__text{
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 145%;
	display: flex;
	color: $semi-dark-lighten;
	flex-direction: row!important;
	align-items: center;
	text-transform: uppercase;
	&:before{
		content: "";
		width: 18px;
		height: 1px;
		background-color: $semi-dark-lighten;
		margin-right: 7px;
	}
}

.readmore{
	margin-top: -1rem;
	margin-left: 1rem;
	font-size: 1rem;
	margin-bottom: 3.1rem;
	img{
		margin-left: 1rem;
	}
}

.main-abilities__cards{
	.cards{
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: -6rem;
	}
	.card{
		width: 100%;
		margin-bottom: 2rem;
	}
	.card__text-wrapper{
		margin-left: 2.5rem;
	}
	.card__heading{
		margin-bottom: 1rem;
	}
}

.registration{
	transform: translateY(50%);
	background: url('../img/registration-baner.jpg') no-repeat center center /cover;
	border-radius: .5rem;
	margin-bottom: 12rem;
	padding: 2rem;
	box-shadow: 0px 4px 10px $semi-dark-lighten;
}
.registration__heading{
	font-size: 2rem;
	margin-bottom: 1rem;
}
.registration__btn-part{
	justify-content: center;
	align-items: center;
	margin-top: 1.5rem;
}
.registration__btn{
	flex-grow: 0;
	padding: 1.7rem 1.85rem;
	width: fit-content;
	img{
		margin-left: 1rem;
	}
}


// social icons
[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-youtube:before {
	content: "\e900";
	color: #bdbdbd;
  }
  .icon-youtube:hover::before{
		color: red;
		cursor: pointer;
		
  }
  .icon-instagram:before {
	content: "\e901";
	color: #bdbdbd;
  }
  .icon-instagram:hover::before{
	color: rgb(233, 68, 164);
	cursor: pointer;
  }

  .icon-facebook:before {
	content: "\e902";
	color: #bdbdbd;
  }
  .icon-facebook:hover::before {
	  color: #4267B2;
	  cursor: pointer
  }

  .icon-vk:before {
	content: "\e903";
	color: #bdbdbd;
  }
  .icon-vk:hover::before{
	color: #597da3;
	cursor: pointer;
	
}
  
// your styles end
@import "media"; // IT SHOULD ALWAYS BE IN THE END OF THE DOCUMENT


